---
layout: layout
title: 首页 - Blogway_关注软件开发/互联网技术/大数据技术/敏捷开发/...
page_type: index
hot_category: 热门分类
bloglist: 博文列表
hot_author: 热门作者
high_author: 高产作者
viewnum: 访问量
blognum: 博文数
posted_on: 发布于
posted_by: 作者
filed_under: 分类
tags_on: 标签
read_more: 阅读全文
viewnum: 阅读
pre_page: 第
of_page: 页 共
end_page: 页
no_content: 无
limit_tags: 8 
---

<div class='container'>
    
    <div class='row main-content'>
        <div class='col-xs-12 col-sm-12 col-md-9   mainbar'>
            <div class="col-xs-12 col-sm-12 "   style=" border:1px solid #E0E0E0;background-color:#f3f3f3; height: 48px; " >
                <button type="button" class="close" style="outline:none;border:none;" >
                    <span  class="glyphicon glyphicon-remove" style=" line-height: 50px;" id="buttonnew"></span>
                    <span class="glyphicon glyphicon-chevron-down" id="selectdown" style="line-height: 50px;display: block;" ></span>
                </button>
                <div style="line-height: 48px; " id="show">
                    <font color="#888" style="font-weight: bold;color: #24292c;">
                     最新消息 
                    </font>      
                </div>           
            </div>
            {% for post in site.posts limit:2%}
            <div  class="newinformation col-md-12 col-xs-12"  style=" border:1px solid #E0E0E0;height: 70px;background: #FFFFFF;">
              <div class="col-xs-2 col-sm-1  img-padding" style="line-height: 70px;">
                  {% for author in site.authors %}{% if post.author == author.name %}
                <img src="{{author.image}}" alt="..."  style="width:50px;height: 50px;border: 1px solid #E0E0E0;">
              </div> 
              <div class=" col-xs-2 col-sm-1 col-md-1  img-padding"  style="line-height: 70px;">
                <u>
                  <span class='sr-only'>{{ page.posted_by }}&nbsp;:&nbsp;</span>
                  <a style="color: #24292c;" href='{{ author.page_path }}'>{{ post.author | remove: ' '}}</a>{% endif %}{% endfor %} 
                </u> 
              </div>
              <div class=" col-xs-2 col-md-1  img-padding"  style="line-height: 70px;float: left;">
                   发布文博
              </div>
              <div class="col-xs-6  col-md-8  "  style="line-height: 70px;">
                <u><a href='{{ post.url }}' target='_blank' title='{{ post.title }}' style="color: #24292c;" >{{ post.title }}</a></u>  
              </div>
              <div class="  col-md-1 col-xs-1 "  style="line-height: 70px; padding-right: 0px;margin-top: 30px;">
                <a href="{{ post.url }}" style="color: #000;"><span class="glyphicon glyphicon-search pull-right" ></span></a>
              </div>
            </div>
            {%endfor%}
            



            <div class="col-xs-12 col-sm-12 col-md-12 " id="classandyear" style=" border:1px solid #E0E0E0;background-color:#f3f3f3;   line-height:48px; margin-top: 20px;  " >
              <div class="col-xs-12 col-sm-4 col-md-4  img-padding">
                <font style="color: #24292c;font-weight: bold;">
                 分类
                </font> 
                <select id="menu_name"  style="border-radius:12px; height: 25px;width: 180px; background:#dddddd;line-height:0px;outline:none;border:0;">
                  <option>ALL</option>
                </select>
              </div>
              <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-4 img-padding" >
                <div >
                  <font style="color: #24292c;font-weight: bold;">
                    时间
                  </font>
                  <select id="menu_time"  style="border-radius:12px; height: 25px;width: 180px; background:#dddddd;line-height:0px;outline:none;border:0;">
                    <option>ALL</option>
                      {% for post in site.posts  %}
                        {% assign year =post.date | date: '%Y' %}
                        {% assign nyear = post.next.date | date: '%Y'  %}
                        {% if year !=nyear %}
                    <option> {{post.date| date: '%Y'}}年度</option>
                        {% endif %}
                      {% endfor %}
                  </select>
                </div>
              </div>
            </div>

          <div class="col-xs-12 col-sm-12 col-md-12" style=" border:1px solid #E0E0E0; background:#FFFFFF; padding-right: 6px;padding-left: 6px;">
            
            <div class='ix-article-list' id="page_main">

            </div><!--end of article-list -->
            <div id="loading" style="width: 100%;height: 40px;float: left;line-height: 40px;margin-top: 20px;margin-bottom: 20px;padding-right: 15px;padding-left: 15px;">
              <div style="width: 100%;height: 40px;background: #dbdbdb;text-align: center;line-height: 40px;border-radius:5px;background-color: #7f7f7f;font-size: 14px;">
               正在加载更多...
              </div>
               
            </div>
          </div>
        </div><!--end of mainbar-->
        <div class='col-md-3 hidden-sm hidden-xs sidebar'>
            {% include categorybar.html %}
        </div>
      </div>
    </div>
<footer class="blog-footer">
      <p>
        Copyright <font style="font-size: 20px;">©</font> blogways.net 
      </p>
</footer>
 
