

<div class='categorybar panel panel-default'>
    <div class="panel-heading" style="height: 50px; background-color: #f3f3f3;box-shadow: 0px 2px 5px #bebdbd;line-height: 30px;">
        <span class="glyphicon glyphicon-list-alt"></span>
        <font style="font-weight: bold; color: #24292c;" >年度博文</font>
    </div>
    <div class='list-group'>
        {% assign count = 1 %}
        {% for post in site.posts reversed %}
            {% assign year = post.date | date: '%Y' %}
            {% assign nyear = post.next.date | date: '%Y' %}
        
            {% if year != nyear %}
                    {% assign count = count | append: ', ' %}
                    {% assign counts = counts | append: count %}
                    {% assign count = 1 %}
            {% else %}
                    {% assign count = count | plus: 1 %}
            {% endif %}
        {% endfor %}

        {% assign counts = counts | split: ', ' | reverse %}
        {% assign i = 0 %}
        
        
        
        




        {% for post in site.posts  %}
        
            {% assign year =post.date | date: '%Y' %}
            {% assign nyear = post.next.date | date: '%Y'  %}
            {% if year !=nyear %}
            
       <div style="border:1px solid #E0E0E0;height: 40px;line-height: 40px; background:#f3f3f3; ">
            <div class="col-sm-9">
            <font style="color: #24292c;">
        {{post.date| date: '%Y'}}年度
            </font>
            </div>
            <div class="col-sm-3 pull-right" style="line-height: 40px;">
            <span class="badge" >
                {{counts[i]}}
            </span>
        </div>
        
        </div>

        {% assign i=i | plus: 1 %}
        {% endif %}

        
   
    {% endfor %}
        
        
    </div>

</div>



<div class='categorybar panel panel-default' id='categorybar'>
    <div class='panel-heading'>
        <h4 class='panel-title'><span class="glyphicon glyphicon-tag"></span> 热门分类</h4>
    </div>
    <div class='list-group' id='categorybar-list' style="position:absolute; height:400px;width: 90%; overflow:auto; ">
    </div>
</div>


<div class='categorybar panel panel-default' style="margin-top: 430px;" >
    <div class="panel-heading" style="height: 50px; background-color: #f3f3f3;box-shadow: 0px 2px 5px #bebdbd;line-height: 30px;">
        <span class="glyphicon glyphicon-grain"></span>
        <font style="font-weight: bold; color: #24292c;" >人气博主</font>
    </div>
    <div class='list-group' id="people_like">

        <!-- <div style="height: 70px; background-color: #f3f3f3;box-shadow: 0px 2px 5px #bebdbd;line-height: 30px;vertical-align:middle;">
            
                
            <a href="">
          
                <img src="/images/blogways.png" alt="..."  style="width:50px;height: 50px;border: 1px solid #E0E0E0;margin-top: 10px;margin-left: 10px;border:none; float:left; display:inline;">
            
            
            </a>
                <div style=" float:left; display:inline; margin-top:5px; margin-left:5px;">

                     <div >小凡凡

                    </div>
                    <div >
                        <span>上传:122</span>
                        <span>人气:199</span>
                
                    </div>
                    
                </div>
            
           
            
            
        </div> -->

                       <!--      {% for author in site.authors limit:4%}
                            
                               

                        <a class='list-group-item' style="background: #f3f3f3;" href='{{ author.page_path }}'>
                            <span>

                             {% if author.image == null %} 
                                <img src="/images/blogways.png" alt="..."  style="width:50px;height: 50px;border: 1px solid #E0E0E0;">
                                {% else %}
                                <img src="{{ author.image }}" alt="..."  style="width: 50px;height: 50px;border: 1px solid #E0E0E0;">
                                {% endif %}
                                </span>

                                <span>
                                    <div>
                                        <font>
                                     {{ author.name | remove: ' ' }}
                                        </font>
                                    </div>
                                </span>
                                
                           
                            <span class='badge pull-right' id='{{ author.name | remove: ' ' }}-side-num'></span>
                        </a>
                      
                        {% endfor %} -->
                    </div>
  
</div>
<script>
    $(document).ready(function(){
        (function(){
            $.getJSON("/categorycount.json",function(o){
                $.each( o, function( i , item ){
                    var content =
                    "<a class='list-group-item list-group-item-default' style='background: #f3f3f3;' href='/categories/"+item[0]+"/'>"+item[1]+
                        "<span class='badge pull-right'>"+item[2]+"</span>"+
                    "</a>"
                    $("#categorybar-list").append(content);
                });
            });
        })();
    });

     $(document).ready(function(){
        (function(){
            $.getJSON("/categorycount.json",function(o){
                $.each( o, function( i , item ){
                    var content =
                    "<option class='menu_name' >"+item[1]+
                        
                    "</option>"
                    $("#menu_name").append(content);
                });
            });
        })();
               
       
    });


    $(document).ready(function(){
            (function(){
                $.getJSON("/authors.json",function(mJSON){
                    $.each( mJSON , function( i , item ){
                        var name = item.name.replace(" ","") || "";                        
                        var num = item.articles.length || 0;
                        $("#"+name+'-side-num').html( num );
                    });
                });
            })();

        });
</script>
