

<div class='categorybar panel panel-default'>
    <div class="panel-heading" style="height: 50px; background-color: #f3f3f3;box-shadow: 0px 2px 5px #bebdbd;line-height: 30px;">
        <span class="glyphicon glyphicon-list-alt"></span>
        <font style="font-weight: bold; color: #24292c;" >年度博文</font>
    </div>
    <div class='list-group'>
        {% assign count = 1 %}
        {% for post in site.posts reversed %}
            {% assign year = post.date | date: '%Y' %}
            {% assign nyear = post.next.date | date: '%Y' %}
        
            {% if year != nyear %}
                    {% assign count = count | append: ', ' %}
                    {% assign counts = counts | append: count %}
                    {% assign count = 1 %}
            {% else %}
                    {% assign count = count | plus: 1 %}
            {% endif %}
        {% endfor %}

        {% assign counts = counts | split: ', ' | reverse %}
        {% assign i = 0 %}
        
        
        
        




        {% for post in site.posts  %}
        
            {% assign year =post.date | date: '%Y' %}
            {% assign nyear = post.next.date | date: '%Y'  %}
            {% if year !=nyear %}
            
       <div style="border:1px solid #E0E0E0;height: 40px;line-height: 40px; background:#f3f3f3; ">
            <div class="col-sm-9" >
                <a href="/years/year:click_year({{post.date| date: '%Y'}});"   value="{{post.date| date: '%Y'}}">
            <font style="color: #24292c;">
        {{post.date| date: '%Y'}}年度
            </font>
            </a>
            </div>
            <div class="col-sm-3 pull-right" style="line-height: 40px;">
            <span class="badge" >
                {{counts[i]}}
            </span>
        </div>
        
        </div>

        {% assign i=i | plus: 1 %}
        {% endif %}

        
   
    {% endfor %}
        
        
    </div>

</div>



<div class='categorybar panel panel-default' id='categorybar'>
    <div class='panel-heading' style="height: 50px; background-color: #f3f3f3;box-shadow: 0px 2px 5px #bebdbd;line-height: 30px;">
        <span class="glyphicon glyphicon-tag"></span>
        <font style="font-weight: bold; color: #24292c;" >热门分类</font> 
    </div>
    <div class='list-group' id='categorybar-list' style="position:absolute; height:400px;width: 89%; overflow:auto;border:1px solid #E0E0E0; ">
    </div>
</div>


<div class='categorybar panel panel-default' style="margin-top: 430px;" >
    <div class="panel-heading" style="height: 50px; background-color: #f3f3f3;box-shadow: 0px 2px 5px #bebdbd;line-height: 30px;">
        <img src="/images/like.png">
        <font style="font-weight: bold; color: #24292c;" >人气博主</font>
    </div>
    <div class='list-group' id="people_like">

        
                    </div>
  
</div>
<script>
    $(document).ready(function(){
        (function(){
            $.getJSON("/categorycount.json",function(o){
                $.each( o, function( i , item ){
                    var content =
                    "<a class='list-group-item list-group-item-default' style='background: #f3f3f3;' href='/categories/"+item[0]+"/'>"+item[1]+
                        "<span class='badge pull-right'>"+item[2]+"</span>"+
                    "</a>"
                    $("#categorybar-list").append(content);
                });
            });
        })();
    });

     $(document).ready(function(){
        (function(){
            $.getJSON("/categorycount.json",function(o){
                $.each( o, function( i , item ){
                    var content =
                    "<option class='menu_name' >"+item[1]+
                        
                    "</option>"
                    $("#menu_name").append(content);
                });
            });
        })();
               
       
    });


    $(document).ready(function(){
            (function(){
                $.getJSON("/authors.json",function(mJSON){
                    $.each( mJSON , function( i , item ){
                        var name = item.name.replace(" ","") || "";                        
                        var num = item.articles.length || 0;
                        $("#"+name+'-side-num').html( num );
                    });
                });
            })();

        });
</script>
