---
layout: layout
page_tags: 标签
---

    <div class='container'>
        <div class='main-content row'>
            <div class='mainbar col-md-12 col-sm-12 col-xs-12'>
             <ol class=" breadcrumb " style="background: #fff;">
                <span class="glyphicon glyphicon-home"></span>
                <a href="/" style="color: #000;">首页</a>>
                <a href="" style="color: #000;">分类</a>>
                
                <a href="" style="color: #000;">{{page.category}}</a>
               

            </ol>
        </div>
            <div class='mainbar col-md-9 col-sm-12 col-xs-12'>
                    {% assign color = 1.1 %}
                    {% for year in site.data.years %}
                    {% assign flag = true %}
                    {% assign count = 0 %}
                    {% for cate in site.categories %}
                    {% capture c1 %}{{ cate[0] | downcase }}{% endcapture %}
                    {% capture c2 %}{{ page.category | downcase }}{% endcapture %}
                    {% capture c3 %}{{ cate[0] }}{% endcapture %}
                    {% if c1 == c2 %}
                    {% for post in site.categories[c3] %}
                    {% capture y %}{{ post.date | date: '%Y' }}{% endcapture %}
                    {% if year.y == y %}
                    {% if flag == true %}
                    {% assign color =color | minus :0.1 %}
                    <div class="col-sm-12 col-xs-12  " style=" margin-bottom: 10px;border:1px solid #E0E0E0;background-color:#fff;padding-left: 0px;padding-right: 0px;">
                        
                            <div class="col-sm-12 col-xs-12  " style="padding-left: 0px;padding-right: 0px;"  >
                                <div class="year_all" onclick="click_classdate({{ year.y }})" style="height: 60px;background: #24292c; text-align:center;line-height: 60px;opacity: {{color}}">
                                <font style="color: #fff;">
                                    {{ year.y }}年度
                                </font>

                                </div>
                            </div>
                            {% assign flag = false %}{% endif %}
                                <div class="yser_menu_{{year.y}}" id="year_menu_{{year.y}}" style="display: block;">
                            <div class='col-sm-12 col-xs-12'  style='height: 55px;line-height:55px;'>
                                <div class=' col-xs-7 col-sm-9 ' style="overflow: hidden;text-overflow: ellipsis;white-space:nowrap;-o-text-overflow:ellipsis; ">
                                    <span class="glyphicon glyphicon-list-alt"></span>
                                    <a href='{{ post.url }}' target='_blank' title='{{ post.title }}' style='color:#000;margin-left: 20px;'>{{ post.title | truncate: 30 }}</a>
                                </div>
                                <div class='col-xs-5 col-sm-3 ' style="overflow: hidden;text-overflow: ellipsis;white-space:nowrap;-o-text-overflow:ellipsis; ">
                                <span class='al-article-date' style="color: #000;">(发布于：{{ post.date | date: '%Y.%m.%d' }})</span>
                                </div>
                            </div>
                            </div>

                            {% endif %}{% endfor %}
                            {% endif %}{% endfor %}
                            {% if flag == false %}
                        
                    </div><!--end of panel-->{% endif %}{% endfor %}
                

                
            </div><!--end of mainbar-->
            <div class='sidebar col-md-3 hidden-sm hidden-xs'>
                <div class='cate-ix-bar panel panel-default' id='categorybar'>
                    <div class='panel-heading' style="height: 60px;line-height: 40px;">
                        <span class="glyphicon glyphicon-tag"></span>
                        <font style="font-weight: bold; color: #24292c;" >热门分类</font>
                    </div>
                    <div class='list-group' id="categorybar-list">
                    </div>
                </div><!--end of cateixbar-->
                <script>
                    $(document).ready(function(){
                        (function(){
                            $.getJSON("/categorycount.json",function(o){
                                $.each( o, function( i , item ){
                                    var currentCategory = "{{ page.category | downcase }}";

                                    var content;
                                    if (currentCategory !== item[0]) {
                                      content ="<a class='list-group-item list-group-item-default' href='/categories/"+item[0]+"/'>"+item[1];
                                    }else{
                                      content ="<a class='list-group-item disabled' >"+item[1];
                                    }
                                    content += "<span class='badge pull-right'>"+item[2]+"</span>"+
                                    "</a>"
                                    $("#categorybar-list").append(content);
                                });
                            });
                        })();
                    });
                </script>
            </div><!--end of sidebar-->
        </div><!--end of main-content-->
    </div><!--end of container-->
