---
layout: layout
pt_page_type: pt
---

    <script>
        $(document).ready(function(){
            (function(){
                $.getJSON("/authors.json",function(mJSON){
                    $.each( mJSON , function( i , item ){
                        var name = item.name.toLowerCase().replace(" ","") || "";
                        var page_name = "{{ page.author }}".toLowerCase().replace(" ","");
                        var num = item.articles.length || 0;
                        if(name == page_name){
                            $("#pt-article-num").append( num );
                        }
                    });
                });
            })();
        });
    </script>

    <div class='container'>
        <div class='row main-content' style="margin-top: 15px;">
            <div class='mainbar col-md-12 col-sm-12 col-xs-12'>
                <ol class=" breadcrumb " style="background: #fff;">
                    <span class="glyphicon glyphicon-home"></span>
                    <a href="/" style="color: #000;">首页</a>>
                     {% for author in site.authors %}
                        {% if  page.author  == author.name %}
                    <a href="{{author.page_path}}" style="color: #000;">博文</a>>
                        {% endif %}
                     {% endfor %}
                    <a href="" style="color: #000;">博文详情</a>
                </ol>
            </div>
            <div class='col-md-9 col-sm-12 col-xs-12 mainbar'>
                <div class='pt-article'>
                    <div class='panel panel-default pt-article-extra'>
                        <div class='panel-body'>
                            <div class='pt-article-pn row'>
                                {% assign n = page.next %}{% if n %}
                                <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                                    <span><font style="font-weight: bold;"> 上一篇:
                                        <a href='{{ n.url }}' title='{{ n.title }}'><u>{{ n.title }}</u></a>
                                        </font>
                                    </span>
                                </div>
                                {% else %}
                                <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                                </div>
                                {% endif %}
                                
                                {% assign p = page.previous %}{% if p %}
                                <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                                    <span class='pull-right hidden-sm hiden-xs visible-lg visible-md'>
                                        <font style="font-weight: bold;">下一篇:
                                        <a href='{{ p.url }}' title='{{ p.title }}'><u>{{ p.title }}</u></a>
                                    </font>
                                    </span>
                                    <span class='hidden-lg hiden-md visible-sm visible-xs'>
                                        <font style="font-weight: bold;">下一篇:
                                        <a href='{{ p.url }}' title='{{ p.title }}'><u>{{ p.title }}</u></a>
                                    </font>
                                    </span>
                                </div>
                                {% endif %}
                            </div><!--end of article-pn-->
                            
                            <div class='pt-article-info'>
                                <div class='pt-article-title'>
                                    <h2 style="font-weight: bold;">{{ page.title }}
                                        
                                    </h2>
                                </div>
                                <div class='row pt-article-tags'>{% assign limnum = 8 %}
                                    <div class='col-xs-12 post-tags'>{% if page.tags == null %}
                                        <span class='glyphicon glyphicon-tag' style="color:#959595;"></span> 暂无 {% else %}
                                        <span class='glyphicon glyphicon-tags' style="color:#959595;"></span>&nbsp;&nbsp;<font style="color:#959595; ">标签</font>{% for tag in page.tags %}
                                        {% if limnum > 0 %}
                                        <a class='label label-info' href='#' style="color: #fff;background-color:#959595;">{{ tag }}</a>
                                        {% assign limnum = limnum | minus: 1 %}{% endif %}
                                        {% if forloop.last == false and limnum > 0 %}{% endif %}{% endfor %}{% endif %}&nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-th-list" style="color:#959595;"></span>
                                        <font style="color:#959595; ">分类</font>&nbsp;&nbsp;<a class='label label-info' style="color: #fff;background-color:#959595;" href='/categories/{{ page.category | first | downcase }}/'>{{ page.category }}</a>
                                        <small class='pt-article-date hidden-xs'>
                                            <span class='glyphicon glyphicon-calendar'></span>&nbsp;
                                            <span class='sr-only'>发布于&nbsp;:&nbsp;</span>{{ page.date | date: "%Y-%m-%d"  }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='pt-article-main'>
                        <div class='panel panel-default'>
                            <div class='panel-body'>
                                <div class='pt-article-content'>
                                    {{ content }}
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class='col-md-3 hidden-sm hidden-xs sidebar'>

                <div class='authorbar panel panel-default'>
                    <div class='panel-heading'  style="height: 60px;line-height: 40px;background: #fff;box-shadow: 0px 3px 11px #bebdbd;">{% for auth in site.authors %}
                        {% if page.author == auth.name %}
                        <span class="glyphicon glyphicon-user"></span> 
                        <font style="font-weight: bold; color: #24292c;margin-left: 10px;" >作者：{{ page.author }}</font>
                        
                    </div>
                    <div class='list-group' style="margin-top: 2px;">
                        <a class='list-group-item list-group-item-default'  href="{{ auth.page_path }}">
                            <span class="glyphicon glyphicon-tasks"></span>
                            <font style="margin-left: 10px;">文章</font>
                            <span  class='badge pull-right' id='pt-article-num' style="background:#000;">
                            </span> 
                            <div class='main-line'>
                                
                            </div>
                    </a>
                    {% endif %}{% endfor %}
                    <a class='list-group-item list-group-item-default'  href="#">
                            <span class="glyphicon glyphicon-star"></span>
                            <font style="margin-left: 10px;">关注</font>
                            <span  class='badge pull-right' >22
                            </span> 
                            <div class='main-line'>
                                
                            </div>
                    </a>
            </div>
                       
                    
                </div><!--end of authorbar-->
                {% if site.related_post != empty %}
                <div class='newbar panel panel-default' id='newbar'>
                    <div class='panel-heading' style="height: 60px;line-height: 40px;background: #fff;box-shadow: 0px 3px 11px #bebdbd;">
                       <span class="glyphicon glyphicon-list-alt"></span> 
                       <font style="font-weight: bold; color: #24292c;margin-left: 10px;" >博文推荐</font>
                    </div>

                    <div class='list-group new-list' style="margin-top: 2px;">
                        {% for post in site.related_posts limit: 5 %}
                        <div class='list-group-item list-group-item-default'>
                            <h5 class='new-heading'>
                                <a href='{{ post.url }}' title='{{ post.title }}'>{{ post.title }}</a>
                            </h5>
                            
                            <div class='new-post-info'>
                                
                                <span class='new-author'>
                                    <span class='glyphicon glyphicon-user'></span>
                                    <span class='sr-only'>{{ page.posted_by }}&nbsp;:&nbsp;</span>
                                    {% for author in site.authors %}{% if post.author == author.name %}
                                    <a href='{{ author.page_path }}' style="color: #959595;">{{ post.author | remove: ' '}}</a>{% endif %}{% endfor %}
                                </span>&nbsp;&nbsp;
                                <span class='new-date pull-right'>
                                    <span class='glyphicon glyphicon-calendar'></span>
                                    <span class='sr-only'>{{ page.posted_on }}&nbsp;:&nbsp;</span>
                                    {{ post.date | date: "%Y-%m-%d"  }}
                                </span>
                            </div>
                            <div class='main-line'>
                                
                            </div>
                        </div>{% endfor %}
                    </div>
                </div><!--end of newestbar-->{% endif %}
            </div>
        </div>
    </div>
    <footer class="blog-footer" style="bottom: 0px;width: 100%;height: 60px;line-height: 0px;">
      <p>
        Copyright <font style="font-size: 20px;">©</font> blogways.net 
      </p>
</footer>
